body {
  padding-top: 56px;
}

nav {
  background-color: #3E333B;
}

footer {
  background-color: #3E333B;
  color: white;
  height: 100%;
}


footer a {
  color: #946CA4;
}

.collaborators {
  height: 200px;
  overflow: scroll;
}

#preview {
  min-height: 210px;
  margin-top: 0;
}
