<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
      <main class="container">
        <% include ../static/partials/messages.ejs %> 
        
        <header class="jumbotron my-4">
          <div class="splash-text">
            <h1 class="display-3">Welcome to Barkipedia</h1>
            <p class="lead">Create, share, and collaborate with canine wiki pages</p>
            <% if (currentUser) { %>
              <a href="/wikis"><button type="button" class="btn btn-lg btn-primary">Explore!</button></a>
            <% } %>
          </div>
        </header>

        <div class="card-deck mb-3 text-center">
            <% if (!currentUser) { %>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Standard</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ yr</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Browse and create public wikis</li>
                  <li>Contribute to public wikis</li>
                </ul>
                <a href="/users/sign_up"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button></a>
              </div>
            </div>
            <% } %>
            <% if (!currentUser || !currentUser.isPremium()) { %>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Premium</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ yr</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Create private wikis</li>
                  <li>Add/remove collaborators to private wikis</li>
                </ul>
                <% if (currentUser && !currentUser.isPremium()) { %>
                  <a href="/users/upgrade"><button type="button" class="btn btn-lg btn-block btn-primary">Get started</button></a>
                  <% } else { %>
                  <a href="/users/sign_up"><button type="button" class="btn btn-lg btn-block btn-primary">Get started</button></a>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>

      </main>
      <% include ./partials/baseScripts.ejs %>
    </body>
</html>
